.h1{ 
    font-size: 40px;
   line-height: 45px;
   color: #ffffff;
    }
    h2{
        color: #ffffff;
    }
    .info
    {
      line-height: 45px;
      color:#ffffff
    }
    .h2{
      color: #001958;
      font-weight: bold;
      font-size:30px;
      line-height: 45px;
      text-align: center;
      width: 100%;
    }